<header class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8">
    <div class="mb-4 md:mb-0">
      <h1 class="text-3xl font-bold dark:text-white">{{ .Params.name }}</h1>
      <p class="text-gray-600 dark:text-gray-300">{{ .Params.position }}</p>
    </div>
    <div class="space-y-1 text-sm text-right">
      <div class="flex items-center justify-end">
        <i class="fas fa-phone-alt mr-2 text-gray-600 dark:text-gray-400"></i>
        <a href="tel:{{ .Params.phone }}" class="underline-animation text-gray-700 dark:text-gray-300">{{ .Params.phone }}</a>
      </div>
      <div class="flex items-center justify-end">
        <i class="fas fa-envelope mr-2 text-gray-600 dark:text-gray-400"></i>
        <a href="mailto:{{ .Params.email }}" class="underline-animation text-gray-700 dark:text-gray-300">{{ .Params.email }}</a>
      </div>
      <div class="flex items-center justify-end">
        <i class="fas fa-map-marker-alt mr-2 text-gray-600 dark:text-gray-400"></i>
        <span class="text-gray-700 dark:text-gray-300">{{ .Params.location }}</span>
      </div>
      <div class="flex items-center justify-end">
        <i class="fab fa-linkedin mr-2 text-gray-600 dark:text-gray-400"></i>
        <a href="{{ .Params.linkedin }}" target="_blank" class="underline-animation text-gray-700 dark:text-gray-300">{{ .Params.linkedin }}</a>
      </div>
      <div class="flex items-center justify-end">
        <i class="fab fa-github mr-2 text-gray-600 dark:text-gray-400"></i>
        <a href="{{ .Params.github }}" target="_blank" class="underline-animation text-gray-700 dark:text-gray-300">{{ .Params.github }}</a>
      </div>
    </div>
  </header>