<!DOCTYPE html>
<html lang="en" class="bg-gray-50 dark:bg-gray-900 transition-colors duration-300">
  {{ partial "head.html" . }}
  <body>
    <div class="container mx-auto px-4 py-8 max-w-4xl">
      {{ partial "header.html" . }}
      {{ partial "summary.html" . }}
      {{ partial "experience.html" . }}
      {{ partial "education.html" . }}
      {{ partial "skills.html" . }}
      {{ partial "certifications.html" . }}
      {{ partial "projects.html" . }}
      {{ partial "awards.html" . }}
      {{ partial "publications.html" . }}
      {{ partial "metrics.html" . }}
      {{ partial "courses.html" . }}
      {{ partial "languages.html" . }}
      {{ partial "hobbies.html" . }}
      {{ partial "references.html" . }}
      {{ partial "blog.html" . }}
    </div>
  </body>
</html>